In [1]:
# Importing modules
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
%matplotlib inline

In [2]:
# Importing datasets from AWS
season_1516 = pd.read_csv('https://ids-storage-football-prediction.s3-eu-west-1.amazonaws.com/data/2015_2016.csv')
season_1617 = pd.read_csv('https://ids-storage-football-prediction.s3-eu-west-1.amazonaws.com/data/2016_2017.csv')
season_1718 = pd.read_csv('https://ids-storage-football-prediction.s3-eu-west-1.amazonaws.com/data/2017_2018.csv')
season_1819 = pd.read_csv('https://ids-storage-football-prediction.s3-eu-west-1.amazonaws.com/data/2018_2019.csv')
season_1920 = pd.read_csv('https://ids-storage-football-prediction.s3-eu-west-1.amazonaws.com/data/2019_2020.csv')

In [3]:
# Importing xG datasets
from pathlib import Path
path = Path("../data")
years = [2015, 2016, 2017, 2018, 2019]
all_seasons = os.listdir(path)
all_teams = []
dct = {}
cnt = 0

for season in all_seasons:
    
    new_path = path /"season_" f'{years[cnt]}'
    #print(new_path)
    all_teams = os.listdir(new_path)
    
    for team in all_teams:
        path_to_file = new_path  /  f'{team}'
        #print(path_to_file)
        dct[team] = pd.read_csv(path_to_file, index_col=0)
    
    cnt+=1

In [4]:
# Example of usage
dct['Liverpool_2019.csv']

    home_team                away_team  xG_home   xG_away
0   Liverpool                  Norwich  2.23456  0.842407
1   Liverpool                  Arsenal  2.78821  0.985542
2   Liverpool         Newcastle United  2.93281  0.291073
3   Liverpool                Leicester  3.74867  0.098211
4   Liverpool                Tottenham  2.18851  1.351430
5   Liverpool          Manchester City  1.33190  1.481040
6   Liverpool                 Brighton  1.36832  0.867601
7   Liverpool                  Everton  2.41397  1.764530
8   Liverpool                  Watford  1.56674  1.011660
9   Liverpool  Wolverhampton Wanderers  1.49124  0.363764
10  Liverpool         Sheffield United  3.04650  0.634607
11  Liverpool        Manchester United  2.00655  1.418500
12  Liverpool              Southampton  3.71950  0.716298
13  Liverpool                 West Ham  2.48209  0.638236
14  Liverpool              Bournemouth  1.89453  1.295440
15  Liverpool           Crystal Palace  2.56729  0.064529
16  Liverpool              Aston Villa  1.08370  0.689775
17  Liverpool                  Burnley  2.17649  0.452331
18  Liverpool                  Chelsea  1.45179  2.382050

In [5]:
#Preprocessing datasets from AWS
#need to make a copy instead of working on original data
season_1516_ = season_1516.copy()
season_1617_ = season_1617.copy()
season_1718_ = season_1718.copy()
season_1819_ = season_1819.copy()
season_1920_ = season_1920.copy()

In [6]:
#Removing bet, referee and div, date columns from data
season_1516_ = season_1516_.loc[:, 'Date':'AR'].drop(['Referee'], axis = 1)
season_1617_ = season_1617_.loc[:, 'Date':'AR'].drop(['Referee'], axis = 1)
season_1718_ = season_1718_.loc[:, 'Date':'AR'].drop(['Referee'], axis = 1)
season_1819_ = season_1819_.loc[:, 'Date':'AR'].drop(['Referee'], axis = 1)
season_1920_ = season_1920_.loc[:, 'Date':'AR'].drop(['Referee'], axis = 1)
season_1516_.info() #20 columns left

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380 entries, 0 to 379
Data columns (total 21 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      380 non-null    object
 1   HomeTeam  380 non-null    object
 2   AwayTeam  380 non-null    object
 3   FTHG      380 non-null    int64
 4   FTAG      380 non-null    int64
 5   FTR       380 non-null    object
 6   HTHG      380 non-null    int64
 7   HTAG      380 non-null    int64
 8   HTR       380 non-null    object
 9   HS        380 non-null    int64
 10  AS        380 non-null    int64
 11  HST       380 non-null    int64
 12  AST       380 non-null    int64
 13  HF        380 non-null    int64
 14  AF        380 non-null    int64
 15  HC        380 non-null    int64
 16  AC        380 non-null    int64
 17  HY        380 non-null    int64
 18  AY        380 non-null    int64
 19  HR        380 non-null    int64
 20  AR        380 non-null    int64
dtypes: int64(16), object(5)
memory usage: 62.5+ KB

In [7]:
season_1516_['Date'] = pd.to_datetime(season_1516_['Date'], dayfirst = True) 
season_1617_['Date'] = pd.to_datetime(season_1617_['Date'], dayfirst = True)  
season_1718_['Date'] = pd.to_datetime(season_1718_['Date'], dayfirst = True)  
season_1819_['Date'] = pd.to_datetime(season_1819_['Date'], dayfirst = True) 
season_1920_['Date'] = pd.to_datetime(season_1920_['Date'], dayfirst = True)

In [8]:
season_1516_.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380 entries, 0 to 379
Data columns (total 21 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      380 non-null    datetime64[ns]
 1   HomeTeam  380 non-null    object
 2   AwayTeam  380 non-null    object
 3   FTHG      380 non-null    int64
 4   FTAG      380 non-null    int64
 5   FTR       380 non-null    object
 6   HTHG      380 non-null    int64
 7   HTAG      380 non-null    int64
 8   HTR       380 non-null    object
 9   HS        380 non-null    int64
 10  AS        380 non-null    int64
 11  HST       380 non-null    int64
 12  AST       380 non-null    int64
 13  HF        380 non-null    int64
 14  AF        380 non-null    int64
 15  HC        380 non-null    int64
 16  AC        380 non-null    int64
 17  HY        380 non-null    int64
 18  AY        380 non-null    int64
 19  HR        380 non-null    int64
 20  AR        380 non-null    int64
dtypes: datetime64[ns](1), int64(16), object(4)
memory usage: 62.5+ KB

In [9]:
#Changing team's names in each DataFrame in dict to be like in seasons, first copy
from copy import deepcopy
dct_ = deepcopy(dct) # working on copied dict with DataFrames

season_1516_teams_names_map = {'Arsenal' : 'Arsenal', 'Aston Villa' : 'Aston Villa', 'Bournemouth' : 'Bournemouth',
                               'Chelsea' : 'Chelsea', 'Crystal Palace' : 'Crystal Palace', 'Everton' : 'Everton',
                               'Leicester' : 'Leicester', 'Liverpool' : 'Liverpool', 'Manchester City' : 'Man City',
                               'Manchester United' : 'Man United', 'Newcastle United' : 'Newcastle', 'Norwich' : 'Norwich',
                               'Southampton' : 'Southampton', 'Stoke' : 'Stoke', 'Sunderland' : 'Sunderland',
                               'Swansea' : 'Swansea', 'Tottenham' : 'Tottenham', 'Watford' : 'Watford', 
                               'West Bromwich Albion' : 'West Brom', 'West Ham' : 'West Ham'}

season_1617_teams_names_map = {'Arsenal' : 'Arsenal',  'Bournemouth' : 'Bournemouth', 'Burnley' : 'Burnley', 
                               'Chelsea' : 'Chelsea', 'Crystal Palace' : 'Crystal Palace', 'Everton' : 'Everton',
                               'Leicester' : 'Leicester', 'Liverpool' : 'Liverpool', 'Manchester City' : 'Man City',
                               'Manchester United' : 'Man United',  'Middlesbrough' : 'Middlesbrough',
                               'Southampton' : 'Southampton', 'Stoke' : 'Stoke', 'Sunderland' : 'Sunderland',
                               'Swansea' : 'Swansea', 'Tottenham' : 'Tottenham', 'Watford' : 'Watford', 
                               'West Bromwich Albion' : 'West Brom', 'West Ham' : 'West Ham',  'Hull' : 'Hull'}

season_1718_teams_names_map = {'Arsenal' : 'Arsenal',  'Bournemouth' : 'Bournemouth', 'Burnley' : 'Burnley',
                               'Chelsea' : 'Chelsea', 'Crystal Palace' : 'Crystal Palace', 'Everton' : 'Everton',
                               'Leicester' : 'Leicester', 'Liverpool' : 'Liverpool', 'Manchester City' : 'Man City',
                               'Manchester United' : 'Man United',  'Newcastle United' : 'Newcastle', 'Brighton' : 'Brighton',
                               'Southampton' : 'Southampton', 'Stoke' : 'Stoke',  'Huddersfield' : 'Huddersfield',
                               'Swansea' : 'Swansea', 'Tottenham' : 'Tottenham', 'Watford' : 'Watford', 
                               'West Bromwich Albion' : 'West Brom', 'West Ham' : 'West Ham'}

season_1819_teams_names_map = {'Arsenal' : 'Arsenal',  'Bournemouth' : 'Bournemouth', 'Burnley' : 'Burnley',
                               'Chelsea' : 'Chelsea', 'Crystal Palace' : 'Crystal Palace', 'Everton' : 'Everton',
                               'Leicester' : 'Leicester', 'Liverpool' : 'Liverpool', 'Manchester City' : 'Man City',
                               'Manchester United' : 'Man United',  'Newcastle United' : 'Newcastle', 'Brighton' : 'Brighton',
                               'Southampton' : 'Southampton', 'Cardiff' : 'Cardiff',  'Huddersfield' : 'Huddersfield',
                               'Fulham' : 'Fulham', 'Tottenham' : 'Tottenham', 'Watford' : 'Watford', 
                               'Wolverhampton Wanderers' : 'Wolves', 'West Ham' : 'West Ham'}

season_1920_teams_names_map = {'Arsenal' : 'Arsenal',  'Bournemouth' : 'Bournemouth', 'Burnley' : 'Burnley',
                               'Chelsea' : 'Chelsea', 'Crystal Palace' : 'Crystal Palace', 'Everton' : 'Everton',
                               'Leicester' : 'Leicester', 'Liverpool' : 'Liverpool', 'Manchester City' : 'Man City',
                               'Manchester United' : 'Man United',  'Newcastle United' : 'Newcastle', 'Brighton' : 'Brighton',
                               'Southampton' : 'Southampton', 'Norwich' : 'Norwich',  'Sheffield United' : 'Sheffield United',
                               'Aston Villa' : 'Aston Villa', 'Tottenham' : 'Tottenham', 'Watford' : 'Watford', 
                               'Wolverhampton Wanderers' : 'Wolves', 'West Ham' : 'West Ham'}

season_map_list = [season_1516_teams_names_map, season_1617_teams_names_map ,season_1718_teams_names_map,
                  season_1819_teams_names_map,season_1920_teams_names_map]

idx = 0
for key, value in dct_.items():
    if f'{years[idx]}' in key:
        value['home_team'] = value['home_team'].map(season_map_list[idx])
        value['away_team'] = value['away_team'].map(season_map_list[idx])
        continue
    else:
        idx += 1
        value['home_team'] = value['home_team'].map(season_map_list[idx])
        value['away_team'] = value['away_team'].map(season_map_list[idx])

dct_['Man City_2015.csv'] = dct_.pop('Manchester City_2015.csv')
dct_['Man City_2016.csv'] = dct_.pop('Manchester City_2016.csv')
dct_['Man City_2017.csv'] = dct_.pop('Manchester City_2017.csv')
dct_['Man City_2018.csv'] = dct_.pop('Manchester City_2018.csv')
dct_['Man City_2019.csv'] = dct_.pop('Manchester City_2019.csv')
dct_['Man United_2015.csv'] = dct_.pop('Manchester United_2015.csv')
dct_['Man United_2016.csv'] = dct_.pop('Manchester United_2016.csv')
dct_['Man United_2017.csv'] = dct_.pop('Manchester United_2017.csv')
dct_['Man United_2018.csv'] = dct_.pop('Manchester United_2018.csv')
dct_['Man United_2019.csv'] = dct_.pop('Manchester United_2019.csv')
dct_['Newcastle_2015.csv'] = dct_.pop('Newcastle United_2015.csv')
dct_['Newcastle_2017.csv'] = dct_.pop('Newcastle United_2017.csv')
dct_['Newcastle_2018.csv'] = dct_.pop('Newcastle United_2018.csv')
dct_['Newcastle_2019.csv'] = dct_.pop('Newcastle United_2019.csv')
dct_['West Brom_2015.csv'] = dct_.pop('West Bromwich Albion_2015.csv')
dct_['West Brom_2016.csv'] = dct_.pop('West Bromwich Albion_2016.csv')
dct_['West Brom_2017.csv'] = dct_.pop('West Bromwich Albion_2017.csv')
dct_['Wolves_2018.csv'] = dct_.pop('Wolverhampton Wanderers_2018.csv')
dct_['Wolves_2019.csv'] = dct_.pop('Wolverhampton Wanderers_2019.csv')

In [10]:
#Attempt to merge datasets into one DataFrame...
#Creating DataFrames for each team in each season, then
#taking xG_home and xG_away from each team in each season from DICT,
#merging taken columns to sorted DataFrames for each team in each season,
#appending DataFrames to list, then created list adding to another list as SEASON...

list_of_lists_containing_data_frames = []
idx = 0
season_list = [season_1516_ ,season_1617_ ,season_1718_ ,season_1819_ ,season_1920_ ]
for season in season_list:
    list_of_data_frames_for_each_team_in_particular_season = []
    for h_team in season['HomeTeam'].sort_values().unique():
        df_sorted = season[season['HomeTeam'] == h_team].sort_values(by = ['AwayTeam'])
        xG_home_away_df = dct_[f'{h_team}_{years[idx]}.csv'].sort_values(by = ['away_team']).iloc[:,2:]
        xG_home_away_df = xG_home_away_df.reset_index().drop('index', axis = 1)
        df_sorted = df_sorted.reset_index().drop('index', axis = 1)

        df_sorted['xG_home'] = xG_home_away_df['xG_home']
        df_sorted['xG_away'] = xG_home_away_df['xG_away']
        df_ = df_sorted.set_index('Date')
        list_of_data_frames_for_each_team_in_particular_season.append(df_)
    idx += 1
    list_of_lists_containing_data_frames.append(list_of_data_frames_for_each_team_in_particular_season)

In [11]:
#Finally taking each list of seasons and creating one DataFrame for each season 
season_1516_ = pd.concat(list_of_lists_containing_data_frames[0]).sort_index()
season_1617_ = pd.concat(list_of_lists_containing_data_frames[1]).sort_index()
season_1718_ = pd.concat(list_of_lists_containing_data_frames[2]).sort_index()
season_1819_ = pd.concat(list_of_lists_containing_data_frames[3]).sort_index()
season_1920_ = pd.concat(list_of_lists_containing_data_frames[4]).sort_index()

In [12]:
# Now changing team's names to shortcuts e.g. Leicester : LEI 
season_1516_teams_names_map = {'Arsenal' : 'ARS', 'Aston Villa' : 'AVA', 'Bournemouth' : 'BOU',
                               'Chelsea' : 'CHE', 'Crystal Palace' : 'CRY', 'Everton' : 'EVE',
                               'Leicester' : 'LEI', 'Liverpool' : 'LIV', 'Man City' : 'MCI',
                               'Man United' : 'MUN', 'Newcastle' : 'NEW', 'Norwich' : 'NOR',
                               'Southampton' : 'SOU', 'Stoke' : 'STO', 'Sunderland' : 'SUN',
                               'Swansea' : 'SWA', 'Tottenham' : 'TOT', 'Watford' : 'WAT', 
                               'West Brom' : 'WBA', 'West Ham' : 'WHU'}

season_1617_teams_names_map = {'Arsenal' : 'ARS',  'Bournemouth' : 'BOU', 'Burnley' : 'BUR',
                               'Chelsea' : 'CHE', 'Crystal Palace' : 'CRY', 'Everton' : 'EVE',
                               'Hull' : 'HUL','Leicester' : 'LEI', 'Liverpool' : 'LIV', 'Man City' : 'MCI',
                               'Man United' : 'MUN',  'Middlesbrough' : 'MID',
                               'Southampton' : 'SOU', 'Stoke' : 'STO', 'Sunderland' : 'SUN',
                               'Swansea' : 'SWA', 'Tottenham' : 'TOT', 'Watford' : 'WAT', 
                               'West Brom' : 'WBA', 'West Ham' : 'WHU'}

season_1718_teams_names_map = {'Arsenal' : 'ARS',  'Bournemouth' : 'BOU', 'Burnley' : 'BUR',
                               'Chelsea' : 'CHE', 'Crystal Palace' : 'CRY', 'Everton' : 'EVE',
                               'Leicester' : 'LEI', 'Liverpool' : 'LIV', 'Man City' : 'MCI',
                               'Man United' : 'MUN',  'Newcastle' : 'NEW', 'Brighton' : 'BRI',
                               'Southampton' : 'SOU', 'Stoke' : 'STO',  'Huddersfield' : 'HUD',
                               'Swansea' : 'SWA', 'Tottenham' : 'TOT', 'Watford' : 'WAT', 
                               'West Brom' : 'WBA', 'West Ham' : 'WHU'}

season_1819_teams_names_map = {'Arsenal' : 'ARS',  'Bournemouth' : 'BOU', 'Burnley' : 'BUR',
                               'Chelsea' : 'CHE', 'Crystal Palace' : 'CRY', 'Everton' : 'EVE',
                               'Leicester' : 'LEI', 'Liverpool' : 'LIV', 'Man City' : 'MCI',
                               'Man United' : 'MUN',  'Newcastle' : 'NEW', 'Brighton' : 'BRI',
                               'Southampton' : 'SOU', 'Cardiff' : 'CAR',  'Huddersfield' : 'HUD',
                               'Fulham' : 'FUL', 'Tottenham' : 'TOT', 'Watford' : 'WAT', 
                               'Wolves' : 'WLV', 'West Ham' : 'WHU'}

season_1920_teams_names_map = {'Arsenal' : 'ARS',  'Bournemouth' : 'BOU', 'Burnley' : 'BUR',
                               'Chelsea' : 'CHE', 'Crystal Palace' : 'CRY', 'Everton' : 'EVE',
                               'Leicester' : 'LEI', 'Liverpool' : 'LIV', 'Man City' : 'MCI',
                               'Man United' : 'MUN',  'Newcastle' : 'NEW', 'Brighton' : 'BRI',
                               'Southampton' : 'SOU', 'Norwich' : 'NOR',  'Sheffield United' : 'SHU',
                               'Aston Villa' : 'AVA', 'Tottenham' : 'TOT', 'Watford' : 'WAT', 
                               'Wolves' : 'WLV', 'West Ham' : 'WHU'}

season_map_list = [season_1516_teams_names_map, season_1617_teams_names_map ,season_1718_teams_names_map,
                  season_1819_teams_names_map,season_1920_teams_names_map]
season_list = [season_1516_ ,season_1617_ ,season_1718_ ,season_1819_ ,season_1920_ ]

#now change...
idx = 0
for season in season_list:
    season['HomeTeam'] = season['HomeTeam'].map(season_map_list[idx])
    season['AwayTeam'] = season['AwayTeam'].map(season_map_list[idx])
    idx += 1

In [13]:
#Now remove date because it is will not help in further analysis
season_1516_ = season_1516_.reset_index(drop = True)
season_1617_ = season_1617_.reset_index(drop = True)
season_1718_ = season_1718_.reset_index(drop = True)
season_1819_ = season_1819_.reset_index(drop = True)
season_1920_ = season_1920_.reset_index(drop = True)

In [14]:
season_1516_.head(10)

,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,AS,...,HF,AF,HC,AC,HY,AY,HR,AR,xG_home,xG_away
0,MUN,TOT,1,0,H,1,0,H,9,9,...,12,12,1,2,2,3,0,0,0.627539,0.674600
1,CHE,SWA,2,2,D,2,1,H,11,18,...,15,16,4,8,1,3,1,0,0.643960,2.592030
2,LEI,SUN,4,2,H,3,0,H,19,10,...,13,17,6,3,2,4,0,0,2.568030,1.459460
3,NOR,CRY,1,3,A,0,1,A,17,11,...,14,20,1,4,1,0,0,0,1.130760,2.109750
4,EVE,WAT,2,2,D,0,1,A,10,11,...,7,13,8,2,1,2,0,0,0.604226,0.557892
5,BOU,AVA,0,1,A,0,0,D,11,7,...,13,13,6,3,3,4,0,0,0.876106,0.782253
6,ARS,WHU,0,2,A,0,1,A,22,8,...,12,9,5,4,1,3,0,0,1.331660,0.535961
7,NEW,SOU,2,2,D,1,1,D,9,15,...,9,12,6,6,2,4,0,0,1.546130,1.252900
8,STO,LIV,0,1,A,0,0,D,7,8,...,9,16,3,5,2,4,0,0,0.381274,0.329873
9,WBA,MCI,0,3,A,0,2,A,9,19,...,12,9,6,6,4,1,0,0,0.435238,1.924200