In [18]:
# Importing modules
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
%matplotlib inline

In [19]:
# Importing datasets from AWS
season_1516 = pd.read_csv('https://ids-storage-football-prediction.s3-eu-west-1.amazonaws.com/data/2015_2016.csv')
season_1617 = pd.read_csv('https://ids-storage-football-prediction.s3-eu-west-1.amazonaws.com/data/2016_2017.csv')
season_1718 = pd.read_csv('https://ids-storage-football-prediction.s3-eu-west-1.amazonaws.com/data/2017_2018.csv')
season_1819 = pd.read_csv('https://ids-storage-football-prediction.s3-eu-west-1.amazonaws.com/data/2018_2019.csv')
season_1920 = pd.read_csv('https://ids-storage-football-prediction.s3-eu-west-1.amazonaws.com/data/2019_2020.csv')

In [22]:
# Importing xG datasets
path = '../data'
years = [2015, 2016, 2017, 2018, 2019]
all_seasons = os.listdir(path)
all_teams = []
dct = {}
cnt = 0

for season in all_seasons:
    
    new_path = path + '/season_' + f'{years[cnt]}'
    all_teams = os.listdir(new_path)
    
    for team in all_teams:
        path_to_file = new_path + '/' + f'{team}'
        dct[team] = pd.read_csv(path_to_file, index_col=0)
    
    cnt+=1

In [23]:
# Example of usage
dct['Liverpool_2018.csv']

    home_team                away_team   xG_home   xG_away
0   Liverpool                 West Ham  4.344210  0.404253
1   Liverpool                 Brighton  1.814120  0.535616
2   Liverpool              Southampton  1.778930  0.310467
3   Liverpool          Manchester City  0.433994  1.074810
4   Liverpool                  Cardiff  2.301760  0.643117
5   Liverpool                   Fulham  2.224170  0.571301
6   Liverpool                  Everton  3.075740  1.230140
7   Liverpool        Manchester United  2.604350  0.658049
8   Liverpool         Newcastle United  3.249880  0.456309
9   Liverpool                  Arsenal  3.705300  1.081860
10  Liverpool           Crystal Palace  2.829900  0.695213
11  Liverpool                Leicester  0.576336  1.127200
12  Liverpool              Bournemouth  2.530030  0.390995
13  Liverpool                  Watford  2.742660  0.630423
14  Liverpool                  Burnley  4.123410  0.471571
15  Liverpool                Tottenham  1.093100  1.048220
16  Liverpool                  Chelsea  1.308390  0.873177
17  Liverpool             Huddersfield  3.589220  0.162400
18  Liverpool  Wolverhampton Wanderers  1.701970  0.883861